/*RMIT University Vietnam
  Course: COSC2430 Web Programming
  Semester: 2023A
  Assessment: Assignment 1
  Author: Vu Loc
  ID: S3891483
  Acknowledgement: [1] https://fonts.google.com/ (Fonts from Google)
  Acknowledgement: [2] https://fontawesome.com/ (Icons)
  Acknowledgement: [3] https://www.youtube.com/watch?v=YgkzJkmDP3U&t=2s (@Media query)
  Acknowledgement: [4] https://www.youtube.com/watch?v=RX53iC51CiQ&t=421s (Responsive NavBar)
  Acknowledgement: [5] https://www.panmacmillan.com/ (Fiction, Non-Fiction, Children's Books imgs and details)
  Acknowledgement: [6] https://tiki.vn/gia-trinh-dai-hoc-cao-dang/c6991 (TextBooks imgs and details)
  Acknowledgement: [7] https://www.librarything.com/ (Reference Books imgs)
  Acknowledgement: [8] https://open.umn.edu/opentextbooks/ (Textbooks imgs)
  Acknowledgement: [9] https://www.scribd.com/books/Reference/Etiquette (Reference books)

*/

/* Define Color Style */
:root {
  --main-color: #be8233;
  --cream: #e2c061;
  --white: #ffffff;
  --border: 1px solid rgba(0, 0, 0, 0.171);
}
/* Fonts from Google Fonts [1] Applied to all elements */
* {
  font-family: "Roboto Mono", monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
  scroll-behavior: smooth;
  list-style: none;
}
body {
  min-height: 100vh;
}
section {
  padding: 1px 7%;
}
.home {
  margin-top: 150px;
}
/********************************* Header Style ********************************/
.header {
  background: var(--white);
  display: block;
  padding: 0 20%;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.top-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
}
.logo img {
  height: 60px;
  max-width: 9rem;
  cursor: pointer;
}
.bottom-logo img {
  margin-left: 1rem;
  max-width: 5rem;
  display: none;
  position: fixed;
  mix-blend-mode: multiply;
}
/********************************* Search bar ********************************/
.top-header .search-bar {
  position: relative;
  width: 530px;
  text-align: center;
  margin-left: 90px;
}
.top-header .search-bar input {
  border: var(--border);
  border-radius: 30px;
  padding: 5px 20px;
  padding-right: 4rem;
  width: 95%;
  height: 45px;
}
.top-header .search-bar input::placeholder {
  color: var(--cream);
  font-size: 1rem;
}
.top-header .search-bar .search-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--cream);
  position: absolute;
  top: 11px;
  right: 2rem;
}
.top-header .search-bar .search-icon:hover {
  color: var(--main-color);
  transform: scale(1.1);
}

/********************************* Cart icon and Sign in button Style [2] ********************************/
.top-header .info {
  display: flex;
  align-items: center;
}
.top-header .info div {
  color: var(--cream);
  cursor: pointer;
  font-size: 1.3rem;
  margin-right: 1.5rem;
  transition: all 0.42s ease;
  height: auto;
}
.top-header .info div:hover {
  color: var(--main-color);
  transform: scale(1.1);
}

/* Buttons Style */

.button {
  display: inline-block;
  padding: 1rem 1.4rem;
  color: rgb(175, 103, 9);
  background: rgb(247, 197, 151);
  cursor: pointer;
  font-size: 1rem;
  position: relative;
  z-index: 1;
  transition: color 0.42s linear;
  border-radius: 1.5rem;
  line-height: 1;
  text-align: center;
}
.button:hover {
  transform: scale(1.1);
  color: var(--main-color);
}

/********************************* Header Navigator Bar (main menu) ********************************/
.bottom-header {
  background: cornsilk;
  text-align: center;
  z-index: 1;
  width: 100%;
  position: fixed;
  left: 0;
}
.bottom-header .menu ul li {
  display: inline-block;
  position: relative;
  z-index: 1;
}
.bottom-header .menu ul li a {
  font-size: 1.3rem;
  color: var(--cream);
  transition: all 0.42s ease;
  display: block;
  padding: 0.9rem 1rem;
  position: relative;
}

/********************************* Categories Submenu ********************************/
.bottom-header .menu ul li:hover > a {
  color: var(--main-color);
  border-bottom: 0.1rem solid var(--main-color);
  transform: scale(1.1);
}
.menu ul > li:hover > ul.submenu {
  display: block;
  opacity: 1;
  top: 100%;
}

.bottom-header .menu ul ul.submenu {
  color: var(--main-color);
  display: none;
  position: absolute;
  width: 10rem;
  background: rgb(255, 246, 207);
  left: 0;
  top: 90%;
  opacity: 0;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
  padding: 17px 0;
  border-radius: 5px 5px 0 0;
  transition: all 0.4s ease-out 0s;
}
.bottom-header .menu ul ul.submenu > li {
  margin-left: 7px;
  display: block;
}
.bottom-header .menu ul ul.submenu > li > a {
  padding: 8px 10px;
  font-size: 1rem;
  color: var(--cream);
  text-align: left;
  text-transform: capitalize;
}
.bottom-header .menu ul ul.submenu > li > a:hover {
  color: var(--main-color);
  transform: scale(1.1);
}

/********************************* Heading ********************************/
.heading h1 {
  color: rgb(0, 0, 0);
  text-align: center;
  text-transform: capitalize;
  font-size: 2rem;
  margin-top: 3rem;
  top: 0;
}
.heading span {
  color: var(--cream);
}
.heading .heading-title {
  display: flex;
  justify-content: center;
  margin-top: 3;
}
.firstline h1 {
  margin-top: 0;
}

/********************************* Images ********************************/
.img-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  gap: 1rem;
  align-items: flex-start;
}

.img-container .images {
  padding: 2rem;
  text-align: center;
  border: var(--cream);
}

.img-container .images img {
  height: 15rem;
  width: 100%;
  object-fit: contain;
  margin-bottom: 0.5rem;
}

.img-container .images h3 {
  margin: 1rem 0;
  font-size: 1.2rem;
  color: var(--cream);
  display: block;
}

.img-container .images a {
  font-size: 1rem;
  color: rgb(175, 103, 9);
  line-height: 2;
  display: block;
}

.img-container .images a:hover {
  text-decoration: underline;
  color: var(--main-color);
}

.img-container .images img:hover {
  transform: scale(1.2);
}

/********************************* Contact Page ********************************/
.contact .row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.contact .row .contact-img {
  flex: 1 1 40rem;
}
.contact .row .contact-img img {
  width: 100%;
  margin-top: 17rem;
}
.contact .row form {
  border: var(--border);
  flex: 1 1 40rem;
  padding: 2rem;
  margin-top: 10rem;
  margin-bottom: 3rem;
  border-radius: 20px;
}
.contact .row form h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
  text-align: center;
}
.contact .row form h1 span {
  color: var(--cream);
}
.contact .row form .box {
  margin: 0.5rem 0;
  border: var(--border);
  border-radius: 30px;
  padding: 1.3rem;
  width: 95%;
}
.contact .row form .box::placeholder {
  color: rgba(0, 0, 0, 0.699);
  font-size: 1.3rem;
}
.contact .row form textarea {
  height: 15rem;
  resize: none;
}

.contact .row form .select {
  padding: 1.3rem;
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.699);
  border: var(--border);
  border-radius: 30px;
  margin: 0.5rem 0;
  width: 50%;
}
.news-check {
  font-size: 1.3rem;
  margin: 0.5rem 0rem;
  border: var(--border);
  border-radius: 30px;
  width: 95%;
  padding: 1.3rem;
  color: rgba(0, 0, 0, 0.699);
}
.news-check label {
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.699);
}
.news-check p {
  margin: 0.5rem 0;
}

.contact .row form .button {
  margin: 0.5rem 1rem;
}

/********************************* Book Detail Page ********************************/

.page-heading {
  display: flex;
  align-items: start;
  margin-left: 10rem;
}
.page-heading p {
  font-size: 1.2rem;
}
.page-heading p a {
  color: var(--cream);
}
.page-heading p a:hover {
  text-decoration: underline;
  color: var(--main-color);
}

/* Book Detail Imgs */
.row {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}
.home .row .container {
  width: 50%;
  display: flex;
  align-items: center;
}
.book-img {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.book-img img {
  height: 100%;
  width: 70%;
  border: var(--border);
}
.small-img {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  width: 40%;
  justify-content: space-around;
}
.small-img img {
  width: 35%;
  height: 100%;
  transition: 0.2s linear;
  object-fit: contain;
  padding: 0.5rem;
  border: var(--border);
  border-radius: 20px;
}

/* Detail */
.row .Details {
  width: 40%;
}
.Details h2 {
  font-size: 3rem;
  padding: 0.5rem;
}
.Details h3 {
  font-size: 1.2rem;
  padding: 0.5rem;
}
.row .Details label {
  display: block;
}
.row .Details .select {
  display: block;
  font-size: 1rem;
  padding: 0.5rem;
  margin: 10px 0px;
  border: var(--border);
  border-radius: 30px;
}
.row .Details .number {
  width: 50px;
  height: 30px;
  padding-left: 10px;
  font-size: 1.2rem;
  margin: 10px 6px;
  border: var(--border);
  border-radius: 30px;
}

.Details h4 {
  padding: 0.5rem 10px;
  font-size: 1.2rem;
  margin-top: 2rem;
}
.Details p {
  padding: 5px 10px;
  line-height: 26px;
  margin-bottom: 2rem;
}

/********************************* Footer ********************************/
.footer {
  background: cornsilk;
  text-align: center;
  padding: 0;
  bottom: 0;
  position: sticky;
  top: 100%;
}

.footer .footer-nav {
  display: flexbox;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  gap: 1rem;
}
.footer .footer-nav a {
  padding: 0.5rem 2rem;
  color: var(--cream);
  font-size: 1.3rem;
}
.footer .footer-nav a:hover {
  color: var(--main-color);
  border-bottom: 0.1rem solid var(--main-color);
  transform: scale(1.1);
}

.footer .copyright {
  font-size: 1rem;
  color: black;
  padding: 1rem;
}
.footer .copyright span {
  color: var(--main-color);
}

/********************************* Media Queries [3] ********************************/
.bottom-header .list {
  display: none;
}
nav input {
  display: none;
}
@media screen and (max-width: 1000px) {
  section {
    padding: 2rem;
  }
  html {
    font-size: 50%;
  }
}

/********** Header Responsive ***********/
@media screen and (max-width: 1000px) {
  .main-header .top-header {
    display: none;
  }
  .info li {
    display: none;
  }
  .logo {
    display: block;
    margin: 0;
  }
  .search-bar {
    display: none;
  }
}

/*********** Navigator bar ***********/
@media screen and (max-width: 1000px) {
  .bottom-header {
    top: 0;
    z-index: 1;
    position: absolute;
    padding: 22px;
  }
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .navmenu {
    display: none;
  }

  .bottom-header .menu ul li a {
    display: block;
    padding: 0.3rem 0rem;
  }
  .menu ul > li:hover > ul.submenu {
    left: 9rem;
    top: 0;
  }

  .bottom-logo img {
    display: block;
    position: absolute;
    margin: 0;
    top: 7px;
    height: auto;
    max-width: 4.5rem;
    left: 3rem;
  }

  /********** List Menu Finaly!!! **********/
  .list-menu {
    display: block;
    position: relative;
    cursor: pointer;
  }
  .bottom-header .list {
    position: absolute;
    margin: 0;
    top: 7px;
    z-index: 1;
    cursor: pointer;
    right: 1.7rem;
    color: var(--cream);
    font-size: 3rem;
    display: block;
  }
  #list-menu:checked ~ .bottom-header .menu ul {
    display: flex;
    flex-direction: column;
  }
}

/********** Contact Page ***********/
@media screen and (max-width: 1000px) {
  .home {
    margin-top: 5rem;
  }
  .contact .row .contact-img img {
    display: none;
  }
  .contact .row form {
    margin-top: 5rem;
    display: block;
    flex: content;
  }
}

/**********Book Detail Page ***********/
@media screen and (max-width: 1000px) {
  .row {
    margin-top: 2rem;
  }
  .home .row .container {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  .container .book-img {
    width: 100%;
    height: 100%;
  }
  .container .small-img {
    flex-direction: initial;
    width: 100%;
    padding: 1rem;
    height: 70%;
  }
  .row .Details {
    flex: content;
    height: fit-content;
    flex-direction: column;
  }
  .row .Details iframe {
    height: 60%;
    width: 100%;
  }
}

/********** Responsive END ***********/
