/*RMIT University Vietnam
  Course: COSC2430 Web Programming
  Semester: 2023A
  Assessment: Assignment 1
  Author: Your names (e.g. Nguyen Van Minh)
  ID: Your student ids (e.g. 1234567)
  Acknowledgement: [1] https://fonts.google.com/
*/

/* Define Color Style */
:root {
  --main-color: #be8233;
  --cream: #e2c061;
  --white: #ffffff;
  --black: 0.1rem solid rgba(0, 0, 0, 0.253);
}

/* Fonts from Google Fonts [1] */
* {
  font-family: "Roboto Mono", monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
  scroll-behavior: smooth;
  list-style: none;
}

body {
  background: var(--white);
}

/* Header Style */
.main-header .top-header {
  padding: 1rem 0;
}

.header {
  background: var(--white);
  display: block;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 10%;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.logo img {
  height: auto;
  max-width: 8rem;
}

/* Search bar */
.top-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
}
.top-header .search-bar .search-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--cream);
  position: absolute;
  top: 14px;
  right: 1px;
}

.top-header .search-bar .search-icon:hover {
  color: var(--main-color);
  transform: scale(1.1);
}
.top-header .search-bar {
  position: relative;
  width: 530px;
  text-align: center;
}

.top-header .search-bar input {
  border: 1px solid rgba(0, 0, 0, 0.116);
  border-radius: 30px;
  padding: 10px 20px;
  width: 90%;
  height: 50px;
}

.top-header .search-bar input::placeholder {
  color: var(--cream);
  font-size: 1rem;
}

/* Cart and Sign in button Style [2] */
.top-header .info {
  display: flex;
  align-items: center;
}

.top-header .info div {
  color: var(--cream);
  cursor: pointer;
  font-size: 1.3rem;
  margin-right: 2rem;
  transition: all 0.42s ease;
}

.top-header .info div:hover {
  color: var(--main-color);
  transform: scale(1.1);
}

/* Buttons Style */
.top-header .info li a {
  display: inline-block;
  padding: 1rem 2rem;
  color: rgb(175, 103, 9);
  background: rgb(247, 197, 151);
  cursor: pointer;
  font-size: 1rem;
  position: relative;
  z-index: 1;
  transition: color 0.42s linear;
  border-radius: 1.5rem;
  line-height: 1;
  text-align: center;
}

.top-header .info li:hover a {
  transform: scale(1.1);
  color: var(--main-color);
}

/* Header Navigator Bar (main menu) */
.bottom-header {
  background: cornsilk;
  text-align: center;
}
.bottom-header .menu ul li {
  display: inline-block;
  position: relative;
  z-index: 1;
  margin: 0 4px;
}
.bottom-header .menu ul li a {
  font-size: 1.2rem;
  color: var(--cream);
  transition: all 0.42s ease;
  font-weight: 400;
  display: block;
  padding: 0.9rem 1rem;
  position: relative;
}
.bottom-header .menu ul li:hover > a {
  color: var(--main-color);
  border-bottom: 0.1rem solid var(--main-color);
  transform: scale(1.1);
}

.menu ul > li:hover > ul.submenu {
  visibility: visible !important;
  opacity: 1;
  top: 100%;
}

/* Categories Submenu */
.bottom-header .menu ul ul.submenu {
  color: var(--main-color);
  visibility: hidden;
  position: absolute;
  width: 10rem;
  background: rgb(255, 246, 207);
  left: 0;
  top: 90%;
  opacity: 0;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
  padding: 17px 0;
  border-radius: 5px 5px 0 0;
  transition: all 0.4s ease-out 0s;
}

.bottom-header .menu ul ul.submenu > li {
  margin-left: 7px;
  display: block;
}

.bottom-header .menu ul ul.submenu > li > a {
  padding: 8px 10px;
  font-size: 1rem;
  color: var(--cream);
  text-align: left;
  text-transform: capitalize;
}

.bottom-header .menu ul ul.submenu > li > a:hover {
  color: var(--main-color);
  transform: scale(1.1);
}

/* Cart 
.header .cart-container {
  position: absolute;
  top: 100%;
  right: 2%;
  height: calc(100vh - 9.5rem);
  width: 20rem;
  background: var(--black);
  padding: 0 1.5rem;
}

.header .cart-container .active {
  right: 17%;
}

.header .cart-container .cart-items {
  position: relative;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header .cart-container .cart-items .fa-times {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1rem;
  cursor: pointer;
  color: var(--cream);
}

.header .cart-container .cart-items .fa-times:hover {
  color: var(--main-color);
}

.header .cart-container .cart-items img {
  height: 7rem;
}

.header .cart-container .cart-items .content h3 {
  font-size: 1rem;
  color: var(--cream);
  padding-bottom: 0.5rem;
}

.header .cart-container .cart-items .content .price {
  font-size: 1rem;
  color: black;
}

.header .cart-items .button {
  width: 100%;
  text-align: center;
}
*/
