/*RMIT University Vietnam
  Course: COSC2430 Web Programming
  Semester: 2023A
  Assessment: Assignment 1
  Author: Vu Loc
  ID: S3891483
  Acknowledgement: [1] https://fonts.google.com/ (Fonts from Google)
  Acknowledgement: [2] https://fontawesome.com/ (Icons)
  Acknowledgement: [3] https://www.youtube.com/watch?v=YgkzJkmDP3U&t=2s (@Media query)
  Acknowledgement: [4] https://www.youtube.com/watch?v=RX53iC51CiQ&t=421s (Responsive NavBar)
  Acknowledgement: [5] https://www.panmacmillan.com/ (Fiction, Non-Fiction, Children's Books imgs and details)
  Acknowledgement: [6] https://tiki.vn/gia-trinh-dai-hoc-cao-dang/c6991 (TextBooks imgs and details)
  Acknowledgement: [7] https://www.librarything.com/ (Reference Books imgs)
  Acknowledgement: [8] https://open.umn.edu/opentextbooks/ (Textbooks imgs)
  Acknowledgement: [9] https://www.scribd.com/books/Reference/Etiquette (Reference books)

*/

/* Define Color Style */
:root {
  --main-color: #be8233;
  --cream: #e2c061;
  --white: #ffffff;
  --black: 0.1rem solid rgba(0, 0, 0, 0.253);
}
/* Fonts from Google Fonts [1] Applied to all elements */
* {
  font-family: "Roboto Mono", monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
  scroll-behavior: smooth;
  list-style: none;
}
section {
  padding: 1px 7%;
}

/*********** Header Style **********/
.header {
  background: var(--white);
  display: block;
  padding: 0 20%;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.top-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
}
.logo img {
  height: 60px;
  max-width: 9rem;
  cursor: pointer;
}
.bottom-logo img {
  margin-left: 1rem;
  max-width: 5rem;
  display: none;
  position: fixed;
  mix-blend-mode: multiply;
}
/*********** Search bar **********/
.top-header .search-bar {
  position: relative;
  width: 530px;
  text-align: center;
  margin-left: 90px;
}
.top-header .search-bar input {
  border: 1px solid rgba(0, 0, 0, 0.116);
  border-radius: 30px;
  padding: 5px 20px;
  padding-right: 4rem;
  width: 95%;
  height: 45px;
}
.top-header .search-bar input::placeholder {
  color: var(--cream);
  font-size: 1rem;
}
.top-header .search-bar .search-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--cream);
  position: absolute;
  top: 11px;
  right: 2rem;
}
.top-header .search-bar .search-icon:hover {
  color: var(--main-color);
  transform: scale(1.1);
}

/*********** Cart icon and Sign in button Style [2] **********/
.top-header .info {
  display: flex;
  align-items: center;
}
.top-header .info div {
  color: var(--cream);
  cursor: pointer;
  font-size: 1.3rem;
  margin-right: 1.5rem;
  transition: all 0.42s ease;
  height: auto;
}
.top-header .info div:hover {
  color: var(--main-color);
  transform: scale(1.1);
}

/* Buttons Style */
.top-header .info li a {
  display: inline-block;
  padding: 1rem 1.4rem;
  color: rgb(175, 103, 9);
  background: rgb(247, 197, 151);
  cursor: pointer;
  font-size: 1rem;
  position: relative;
  z-index: 1;
  transition: color 0.42s linear;
  border-radius: 1.5rem;
  line-height: 1;
  text-align: center;
}
.top-header .info li:hover a {
  transform: scale(1.1);
  color: var(--main-color);
}

/*********** Header Navigator Bar (main menu) **********/
.bottom-header {
  background: cornsilk;
  text-align: center;
  z-index: 1;
  width: 100%;
  position: fixed;
  left: 0;
}
.bottom-header .menu ul li {
  display: inline-block;
  position: relative;
  z-index: 1;
}
.bottom-header .menu ul li a {
  font-size: 1.3rem;
  color: var(--cream);
  transition: all 0.42s ease;
  display: block;
  padding: 0.9rem 1rem;
  position: relative;
}

/*********** Categories Submenu ***********/
.bottom-header .menu ul li:hover > a {
  color: var(--main-color);
  border-bottom: 0.1rem solid var(--main-color);
  transform: scale(1.1);
}
.menu ul > li:hover > ul.submenu {
  display: block;
  opacity: 1;
  top: 100%;
}

.bottom-header .menu ul ul.submenu {
  color: var(--main-color);
  display: none;
  position: absolute;
  width: 10rem;
  background: rgb(255, 246, 207);
  left: 0;
  top: 90%;
  opacity: 0;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
  padding: 17px 0;
  border-radius: 5px 5px 0 0;
  transition: all 0.4s ease-out 0s;
}
.bottom-header .menu ul ul.submenu > li {
  margin-left: 7px;
  display: block;
}
.bottom-header .menu ul ul.submenu > li > a {
  padding: 8px 10px;
  font-size: 1rem;
  color: var(--cream);
  text-align: left;
  text-transform: capitalize;
}
.bottom-header .menu ul ul.submenu > li > a:hover {
  color: var(--main-color);
  transform: scale(1.1);
}

/*********** Homepage ***********/
.home {
  margin-top: 150px;
}

/*********** Heading **********/
.heading h1 {
  color: rgb(0, 0, 0);
  text-align: center;
  text-transform: capitalize;
  font-size: 2rem;
  margin-top: 3rem;
  top: 0;
}
.heading span {
  color: var(--cream);
}
.heading .heading-title {
  display: flex;
  justify-content: center;
  margin-top: 3;
}
.firstline h1 {
  top: 0;
  margin-top: 0;
}

/*********** Images **********/
.img-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  gap: 1rem;
  align-items: flex-start;
}

.img-container .images {
  padding: 2rem;
  text-align: center;
  border: var(--cream);
}

.img-container .images img {
  height: 15rem;
  width: 100%;
  object-fit: contain;
  margin-bottom: 0.5rem;
}

.img-container .images h3 {
  margin: 1rem 0;
  font-size: 1.2rem;
  color: var(--cream);
  display: block;
}

.img-container .images a {
  font-size: 1rem;
  color: rgb(175, 103, 9);
  line-height: 2;
  display: block;
}

.img-container .images a:hover {
  text-decoration: underline;
  color: var(--main-color);
}

.img-container .images img:hover {
  height: 20rem;
}

/* Cart 
.header .cart-container {
  position: absolute;
  top: 100%;
  right: 2%;
  height: calc(100vh - 9.5rem);
  width: 20rem;
  background: var(--black);
  padding: 0 1.5rem;
}

.header .cart-container .active {
  right: 17%;
}

.header .cart-container .cart-items {
  position: relative;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header .cart-container .cart-items .fa-times {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1rem;
  cursor: pointer;
  color: var(--cream);
}

.header .cart-container .cart-items .fa-times:hover {
  color: var(--main-color);
}

.header .cart-container .cart-items img {
  height: 7rem;
}

.header .cart-container .cart-items .content h3 {
  font-size: 1rem;
  color: var(--cream);
  padding-bottom: 0.5rem;
}

.header .cart-container .cart-items .content .price {
  font-size: 1rem;
  color: black;
}

.header .cart-items .button {
  width: 100%;
  text-align: center;
}
*/

/*********** Media Queries [3] ***********/
.bottom-header .list {
  display: none;
}
nav input {
  display: none;
}
@media (max-width: 1000px) {
  section {
    padding: 2rem;
  }
  html {
    font-size: 50%;
  }
}

/********** Header Responsive ***********/
@media screen and (max-width: 1000px) {
  .main-header .top-header {
    display: none;
  }
  .info li {
    display: none;
  }
  .logo {
    display: block;
    margin: 0;
  }
  .search-bar {
    display: none;
  }
}

/*********** Navigator bar ***********/
@media screen and (max-width: 1000px) {
  .bottom-header {
    top: 0;
    z-index: 1;
    position: absolute;
    padding: 10px;
  }
  .menu {
    display: inline-block;
    position: relative;
    z-index: 1;
    width: 10rem;
    text-align: center;
    margin: 0;
  }
  .navmenu {
    display: none;
  }
  .menu ul > li:hover > ul.submenu {
    left: 8rem;
  }
  .bottom-logo img {
    display: block;
    position: absolute;
    margin: 0;
    top: 0;
    height: auto;
    max-width: 4.5rem;
    left: 1.7rem;
  }
  #list-menu:checked ~ nav .bottom-logo img {
    display: none;
  }

  /********** List Menu Finaly!!! **********/
  .list-menu {
    display: block;
    position: relative;
    cursor: pointer;
  }
  .bottom-header .list {
    position: absolute;
    margin: 0;
    top: 5px;
    z-index: 1;
    cursor: pointer;
    right: 1.7rem;
    color: var(--cream);
    font-size: 2rem;
    display: block;
  }
  #list-menu:checked ~ .bottom-header .menu ul {
    display: inline-block;
  }
}
@media screen and (max-width: 1000px) {
  .bottom-header .menu ul li a {
    display: block;
    padding: 0.5rem 0rem;
    position: relative;
  }
}

/********** Home ***********/

@media screen and (max-width: 1000px) {
  .home {
    margin-top: 5rem;
  }
}

/********** Home ***********/

/********** Responsive END ***********/
